---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

/* Reduce sidebar title font size */
#sidebar .site-title {
  font-size: 1.35rem;
}
